* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* body styling */
body{    
    background-image: url('../image/bg2.avif');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
}

/* cutomizing the search bar */
.custom-search-input{
    align-items: center;
}
.container_login {
    display: flex;
    justify-content: flex-end;
}
.container_menu {
    margin-bottom: 20px;
    border-radius: 2px;
}

.container_menu nav ul li {
    display: inline-block;
    margin-right: 10px;
}
/* Reset default margin/padding */
/* Reset default margin/padding */
body, html {
    margin: 0;
    padding: 0;
  }
  
  .image-container {
    width: 100%;
    max-width: 800px; /* Adjust to your preferred width */
    margin: 0 auto;
    overflow: hidden; /* Clear float */
  }
  
  .floating-image {
    float: left;
    width: 33.33%; /* Set the width for each image - 33.33% to fit three images in a row */
    box-sizing: border-box;
    padding: 5px; /* Optional: Add some space between images */
  }
  .floating-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  

.container_menu nav ul li a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    background-color: dark;
}

.container_menu nav ul li a:hover {
    background-color: rgb(233, 141, 21);
}


/* footer css */

